<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/layout.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<div class="blogposts">
    <h5>Why did I choose to study java programming laguage </h5>
    <h2>Why did I choose to study java programming laguage </h2>
    <h3>Why did I choose to study java programming laguage </h3>
    <h4>Why did I choose to study java programming laguage </h4>



</div>

</body>
</html>